LoadModule mpm_prefork_module /usr/lib/apache2/modules/mod_mpm_prefork.so

<VirtualHost *:8082>
    ServerName second.tst
    DocumentRoot /var/www/html/second
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>