<VirtualHost *:8081>
    ServerName first.tst
    DocumentRoot /var/www/first.tst
    ErrorLog /var/log/apache1/error.log
    CustomLog /var/log/apache1/access.log combined
</VirtualHost>

LoadModule mpm_prefork_module /usr/lib/apache2/modules/mod_mpm_prefork.so