<VirtualHost *:8082>
    ServerName second.tst
    DocumentRoot /var/www/second.tst
    ErrorLog /var/log/apache2/error.log
    CustomLog /var/log/apache2/access.log combined
</VirtualHost>

LoadModule mpm_prefork_module /usr/lib/apache2/modules/mod_mpm_prefork.so