events {
        worker_connections 1024;
}

http {

    upstream apache1 {
        server 10.0.0.3:8081;
    }

    upstream apache2 {
        server 10.0.0.4:8082;
    }

    server {
        listen 80;
        server_name first.tst;

        access_log /var/log/nginx/first.tst.access.log combined;
        error_log /var/log/nginx/first.tst.error.log;

        location / {
            proxy_pass http://apache1;
        }
    }

    server {
        listen 80;
        server_name second.tst;

        access_log /var/log/nginx/second.tst.access.log combined;
        error_log /var/log/nginx/second.tst.error.log;

        location / {
            proxy_pass http://apache2;
        }
    }
}