log_format custom '{{ ansible_date_time.iso8601 }} - $request_time - $upstream_response_time - $remote_addr - $remote_user - $time_local - $request - $status - $body_bytes_sent - $http_referer - $http_user_agent - $geoip_country_code';
access_log /var/log/nginx/access.log custom;